go 1.26.0

use (
	./internal
	./services/apifw
	./services/asset
	./services/attackpath
	./services/audit
	./services/collector
	./services/compliance
	./services/copilot
	./services/cspm
	./services/dashboard
	./services/dlp
	./services/dspm
	./services/easm
	./services/fraud
	./services/identity
	./services/iga
	./services/ir
	./services/knowledgegraph
	./services/mobile
	./services/netsec
	./services/notification
	./services/ot
	./services/pam
	./services/pipeline
	./services/risk
	./services/scs
	./services/siem
	./services/soar
	./services/syslog
	./services/tenant
	./services/ti
	./services/ueba
	./services/vuln
)
